.logo{
    height: 90px;
    width: auto;
    border-radius: 30%;
}
.menu{
    display: flex; 
}
.links{
    display: flex;
}
.nav{
    justify-content: space-between;
}
.alineacion{
    margin-top: 4px;
    font-size: 20px;
}
.alineacion:hover{
    color:#00194f;
    font-size: 22px;
    font-weight: bold;
}