.Foto{
    width: 100%;
    height: auto;
}
.Foto2{
  width: 100%;
  height: auto;
} 
.pregunta{
    text-align: center;
    padding: 35px 10px 15px 15px;
}
.respuesta{
    text-align: justify;
    padding: 5px 55px 15px 55px;
}