#start{
    background-image: url("../../Imagenes/opcion2.jpg");  
    background-size: cover;  
    height: 600px;
}
.seccion1{
 text-align: center;
}
.texto1{
    padding: 150px 0 0 ;  
}
.texto2{
    margin: 140px 0 20px 0;
}
.bienvenido{
    color: white;
   padding: 50px 0 30px 40px;
}