#start{
    background-image: url("../../Imagenes/mujer.jpg");  
    background-size: cover;  
    height: 600px;
}
.seccion1{
 text-align: center;
}
.texto1{
    padding: 100px 0 0 ;
}
.texto2{
    margin: 150px 0 20px 0;
}