.imagen{
    width: 30%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.texto{
    text-align: center;
}
.seccion2{
    margin: 35px;
}
.card{
    border: none;
}
.clearboth{
    text-align: center;
    font-size: 35px;
}
.titulo{
    font-size: 35px;
    margin-left: 150px;
}