.date{
    background-color: #e9e5f3;
    border-radius: 20px;
    outline: none;
    width: 370px;
    border: 1px solid #25a1b7;
}
.time{
    background-color: #e9e5f3;
    border-radius: 20px;
    outline: none;
    width: 370px;
    border: 1px solid #25a1b7;
}
.note{
    background: rgb(243, 229, 239, 0.4);
    border-radius: 20px;
    outline: none;
    width: 85%;
    height: 150px;
    border: 2px solid #25a1b7;
    margin: 2px;
    
}
.calendar{
    color: white;
}
.CitaSeleccionada{
    color: black;
    padding-left: 5px;
}
.apagado{
    display: none;
}
#todas{
    margin-top: 2%;
    height: 35px;
    width: 250px;
}
.fondoCita{
    margin-top: 57px;
    background:  rgba(233, 229, 243, 0.8);
    border-radius: 10px;
    height: 400px;
    outline: none;
    border: 3px solid #25a1b7;
}
.absolute{
    position: absolute;
    top: 200px;
}
.absolute2{
    position: absolute;
    top: 200px;      
}
.boton{
    margin: 2px;
    font-size: 14px;
}
.sinhoras{
    animation:blinkingText 1.5s infinite;
}
@keyframes blinkingText{
    0%{color: red;}    
    50%{color: transparent;}    
}
