.date{
    background-color: #e9e5f3;
    border-radius: 20px;
    outline: none;
    width: 370px;
    border: 1px solid #25a1b7;
}
.time{
    background-color: #e9e5f3;
    border-radius: 20px;
    outline: none;
    width: 370px;
    border: 1px solid #25a1b7;
}
.note{
    background-color: #e9e5f3;
    opacity:0.8;
    border-radius: 20px;
    outline: none;
    width: 170px;
    height: 150px;
    border: 1px solid #25a1b7;
    
}
.calendar{
    color: white;
}
.CitaSeleccionada{
    color: black;
}
.apagado{
    display: none;
}
#todas{
    margin-top: 2%;
    height: 35px;
    width: 250px;
}